<br/>
<br/>
<table class="table  table-bordered table table-hover">
  <thead class="table-dark">
    <tr>
      <th>First name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_tables.each do |friend_table| %>
      <tr>
        <td><%= friend_table.first_name %></td>
        <td><%= friend_table.email %></td>
        <td><%= friend_table.phone %></td>
        <td><%= link_to 'Show', friend_table %></td>
        <td><%= link_to 'Edit', edit_friend_table_path(friend_table) %></td>
        <td><%= link_to 'Destroy', friend_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Friend Table', new_friend_table_path, class:"btn btn-secondary" %>
